h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Muli-Regular';
    src: url(./assets/fonts/Muli-Regular.woff) format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Bold';
    src: url(./assets/fonts/Muli-Bold.ttf) format('truetype');

}

@font-face {
    font-family: 'Muli-BoldItalic';
    src: url(./assets/fonts/Muli-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Muli-Semi-BoldItalic';
    src: url(./assets/fonts/Muli-Semi-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Muli-Italic';
    src: url(./assets/fonts/Muli-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'MulI-ExtraBold';
    src: url(./assets/fonts/Muli-ExtraBold.woff) format('truetype');
}

/*common styles*/
ul {
    list-style: none;
    margin: 0;
}

img {
    object-fit: cover;
}

a:hover {
    text-decoration: none;
    color: #232923;
    ;
}

button {
    border: none;
    background-color: transparent;
}

.container {
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn {
    font-family: 'Muli-ExtraBold', sans-serif;
    color: #ffffff;
    display: flex;
    font-size: 21px;
    text-decoration: none;
    align-items: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/*header*/
.header {
    height: 100vh;
    background-image: url('../css/assets/images/photoshop-img/main-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header__top {
    padding: 88px 0 124px;
    position: relative;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger--btn {
    background-image: url(./../css/assets/images/header__images/sort-button-with-three-lines.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 30px;
    right: 30px;
    display: none;
    z-index: 1000000;
}


/*menu*/
.menu__list {
    display: flex;
    align-items: center;
    column-gap: 35px;
}

.menu__list:first-child {
    padding: 0;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'MuliBold', sans-serif;
    color: #fff;
}

/*logo*/


.header__logo {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}


/*right block*/
.header__right-block {
    display: flex;
    column-gap: 136px;
    align-items: center;
}

.header__personal {
    position: relative;
}

.header__personal::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 50px;
    background-color: #ffd68f;
    position: absolute;
    top: 50%;
    left: 140%;
}


/*personal*/
.personal__list {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 45px;
}

.personal__list-item:last-child {
    margin-right: 0;
}

.personal__list:last-child {
    position: relative;
}

.personal__cart-count {
    background-color: #fff;
    position: absolute;
    top: -10px;
    right: -13px;
    display: flex;
    height: 18px;
    width: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 10px;
    color: black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*social*/
.social__list {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    max-height: 35px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*header-content*/
.header-content {
    display: flex;
    justify-content: center;
}

.header__burger {
    display: none;
}

/*btn*/
.header__btn {
    height: 70px;
    width: 280px;
    font-size: 24px;
    border-radius: 35px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.48px;
    padding: 0 38px;
    position: relative;
}

.btn--green-bg {
    background-color: #0aa566;
}

.btn--green-bg:hover {
    background-color: #14774f;
    color: white;
}

.btn--green-bg::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 30px;
    background-image: url("../css/assets/images/photoshop-img/yellow-arrow\ btn.png");
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


/*titles*/

.title {
    font-family: 'Muli-ExtraBold';
    color: #f7ae3b;
    font-size: 50px;
}

.title--white {
    color: #ffffff;
}

.title--white:hover {
    color: #6c2c1c;
}

.title--orange {
    color: #f7ae3b;
}

/*text*/
.text {
    font-family: 'Muli-Regular';
    line-height: 35px;
}

.text--black {
    color: #1e1e1e;
}

.text--white {
    color: #ffffff;
}

.text--orange {
    color: #f7ae3b;
}

@media screen and (max-width: 360px) {
    .header-content {
        margin-top: 80px;
    }

    .header {
        background-attachment: none;
    }

}

@media screen and (max-width: 768px) {

    .header__navigation {
        display: none;
    }

    .active {
        position: fixed;
        background-color: #0aa566;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 100px;
        justify-content: flex-end;
        align-items: center;
    }

    .header__burger--btn {
        display: block;
    }

    .header__right-block {
        margin-bottom: 130px;
    }

    .menu__list {
        flex-direction: column;
    }

    .menu__item {
        margin-bottom: 30px;
    }

}

/*what are smoothies*/

.smoothies {
    padding: 90px 0 135px;
}

.smoothies__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smoothies__title {
    margin: 0 0 30px;
    text-align: center;
}

.smoothies__title {
    font-size: 50px;
    letter-spacing: -1px;
}

.smoothies__text {
    font-size: 18px;
    max-width: 915px;
    margin: 0 0 60px;
    text-align: center;
    letter-spacing: -0.1px;
}

.smoothies__features {
    display: flex;
    flex-wrap: wrap;
    max-width: 1110px;
}

.smoothies__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180px;
    margin: 0;
    flex-basis: 25%;
    border-bottom: 1px solid #f6edde;
    border-right: 1px solid #f6edde;
}

.smoothies__feature:nth-child(4) {
    border-right: 0;
}

.smoothies__feature:nth-child(8) {
    border-right: 0;
}

.smoothies__feature:nth-child(n+5) {
    border-bottom: 0;
}


.feature__text--orange {
    font-family: 'Muli-ExtraBold';
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: -0.5px;
    text-align: center;
    color: #f2612d;
    font-size: 25px;
}

.feature__img {
    margin-bottom: 27px;
}

@media (max-width: 360px) {

    .smoothies__title {
        font-size: 2.5em;
    }

    .smoothies__text {
        font-size: 1.12em;
    }

    .feature__text--orange {
        font-size: 1.25em;
    }
}

@media (max-width: 768px) {
    .smoothies__features {
        max-width: 500px;
    }

    .smoothies__feature {
        flex-basis: 50%;
    }

    .smoothies__feature:nth-child(even) {
        border-right: 0;
    }

    .smoothies__feature:nth-child(n+5) {
        border-bottom: 1px solid #f6edde;
    }

    .smoothies__feature:nth-last-child(2) {
        border-bottom: 0;
    }

    .smoothies__feature:last-child {
        border-bottom: 0;
    }

}


/*about*/

.about {
    background-color: #14826f;
}

.about__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.about__img {
    transform: translate(45px, 60px);
    -webkit-transform: translate(45px, 60px);
    -moz-transform: translate(45px, 60px);
    -ms-transform: translate(45px, 60px);
    -o-transform: translate(45px, 60px);
}

.about__img-left {
    width: 100%;
}

.about__info {
    display: flex;
    flex-direction: column;
    margin: 89px 0px 10px 185px;
}

.about__title {
    line-height: 1.09;
    letter-spacing: -1.1px;
    font-size: 55px;
}

.about__title--green {
    color: #cae941;
    position: relative;
}


.about__title--green::after {
    content: "";
    position: absolute;
    background-image: url("./assets/images/photoshop-img/Line-img.png");
    top: 65px;
    left: -10px;
    width: 450px;
    height: 13px;
    display: inline-block;

}

.about__list {
    color: #fff;
    font-family: 'Muli-ExtraBold';
    letter-spacing: normal;
    padding-left: 0;
    margin-top: 57px;
}

.about__list-item {
    list-style: none;
    background: url(./assets/images/photoshop-img/icon1.png) no-repeat 0 4px;
    padding-left: 35px;
    margin-bottom: 20px;
    font-size: 21px;
}

.about__list-item:last-child {
    margin: 0;
}

.about__btn {
    max-width: 380px;
    height: 60px;
    border: solid 2px #f8b231;
    font-size: 21px;
    position: relative;
    padding-left: 29px;
    margin: 50px 0 94px;
}

.about__btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url("../css/assets/images/photoshop-img/about-Arrow.png");
    width: 30px;
    height: 16px;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@media (max-width: 360px) {
    .about__title {
        font-size: 2.75em;
    }

    .about__btn {
        font-size: 1.12em;
    }

    .about__title--green::after {
        display: none;
    }

    .about__btn::after {
        right: 20px;
    }

    .about__img {
        padding-top: 45px;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
}

@media (max-width: 768px) {
    .about__info {
        margin: 0;
    }

    .about__img {
        transform: none;
        padding-top: 50px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
}

/*products*/

.products {
    overflow-y: auto;
}

.products__wrapper {
    display: flex;
}

.products__img {
    margin-top: 125px;
}

.products__card {
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products div:first-child {
    background-color: #632b17;
}

.products div:nth-child(2) {
    background-color: #178670;
}

.products div:nth-child(3) {
    background-color: #f7ae3b;
}

.products div:nth-child(4) {
    background-color: #c3471b;
}

/*products__titles*/
.products__title {
    font-family: 'Muli-Bold';
    margin-top: 33px;
    line-height: 21px;
    font-size: 22px;
    letter-spacing: 0.9px;
}

.products__subtitle {
    color: #fff;
    font-family: 'Muli-Italic';
    font-size: 21px;
    margin-top: 10px;
}

/*products__btn*/
.products__btn {
    width: 204px;
    height: 60px;
    border: solid 2px #ffffff;
    margin: 65px 0px 79px;
    padding-left: 36px;
    position: relative;
}

.products__btn::after {
    content: "";
    display: inline-block;
    background-image: url("../css/assets/images/photoshop-img/products-arrow.png");
    position: absolute;
    width: 30px;
    height: 16px;
    right: 33px;
}

@media (max-width: 360px) {

    .products__subtitle,
    .products__title {
        font-size: 1.12em;
        letter-spacing: -0.1px;
    }

    .products__img {
        margin-top: 70px;
    }
}

@media (max-width: 768px) {
    .products__card {
        flex: 1 0 480px;
    }
}

/*our story*/

.story {
    padding: 120px 0px 160px;
}

.story__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.story__title {
    margin-bottom: 35px;
    line-height: 40px;
    letter-spacing: -0.02em;
}

.story__desc {
    max-width: 510px;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: -0.1px;
}

.story__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 206px;
}

.story__btn {
    max-width: 301px;
    height: 60px;
    margin-top: 60px;
    padding-left: 25px;
    position: relative;
}

.btn--green::after {
    content: "";
    display: inline-block;
    background-image: url("../css/assets/images/photoshop-img/about-Arrow.png");
    position: absolute;
    width: 30px;
    height: 16px;
    right: 45px;
}

.story__image {
    position: relative;
}

.story__image::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("./assets/images/photoshop-img/story-stamp.png");
    width: 290px;
    height: 216px;
    top: 22px;
    left: -167px;
}

.story__pic {
    width: 100%;
    height: 100%;
}


@media (max-width: 360px) {
    .story {
        padding: 60px 0px 100px;
    }

    .story__desc {
        letter-spacing: -0.9px;
    }

    .story__title {
        font-size: 2.75em;
    }

    .story__inner {
        margin-right: 0;
    }

    .story__image::after {
        display: none;
    }
}

@media (max-width: 768px) {
    .story__btn {
        margin-bottom: 50px;
    }

    .story__image {
        /*
        left: 55px;
        */
    }

    .story__image::after {
        top: 10px;
        left: -160px;
    }
}

/*testimonials*/

.testimonials {
    background-color: #672f1b;
    padding: 105px 0 70px;
    position: relative;
}

.testimonials::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("./assets/images/photoshop-img/dots-img.png");
    width: 410px;
    height: 301px;
    top: -85px;
    right: 58px;
}

.testimonials__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__title {
    margin: 0px 0 120px;
}

.testimonials span {
    color: #f2612d;
    text-decoration: uppercase;
}

.testimonials__comment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    z-index: 1;
}


.testimonials__comment::before {
    content: "Sarah A";
    opacity: 0.6;
    font-family: "Muli-ExtraBold";
    font-size: 200px;
    color: rgba(82, 25, 5, 0.6);
    position: absolute;
    top: 200px;
    left: 410px;
    z-index: -1;
}


.comment__text {
    max-width: 455px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 40px 60px 0 0;
}

.comment__quote {
    line-height: 35px;
    letter-spacing: 0.9px;
}

.comment__cite {
    font-family: 'Muli-Semi-BoldItalic';
    line-height: 45px;
}

.comment__avatar {
    /* height: 100%;
    width: 100%; */
    object-fit: cover;
}

.testimonials__arrows {
    width: 160px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 360px) {

    .testimonials {
        padding-top: 60px;
    }

    .testimonials__title {
        font-size: 2.75em;
        text-align: center;
        margin-bottom: 0px;
    }

    .comment__quote {
        letter-spacing: 0.4px;
    }

    .testimonials__comment::before {
        display: none;
    }
}

@media (max-width: 768px) {

    .testimonials::after {
        display: none;
    }

    .testimonial__title {
        margin-bottom: 80px;
    }

    .testimonials__comment {
        flex-wrap: wrap;
        flex-flow: column-reverse;
        margin-bottom: 100px;
    }

    .comment__text {
        margin-top: 60px;
        margin-right: 0;
    }

    .testimonials__comment::before {
        opacity: 8.6;
        font-family: "Muli-ExtraBold";
        font-size: 162px;
        top: 435px;
        left: 55px;
    }
}


/*blog*/

.blog {
    padding: 100px 0 180px;
}

.blog__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog__inner-img {
    position: relative;
    /*
    z-index: 3;
    */
}

/*
.blog__inner-img::after {
    content: "";
    width: 687px;
    height: 12px;
    background-image: url("./assets/images/photoshop-img/blog-Line.png");
    position:absolute;
    top: 70px;
    left: 507px;
    z-index: -2;
}
*/

.blog__title {
    margin-bottom: 50px;
}

.blog__desc {
    display: flex;
    flex-direction: column;
    padding-top: 230px;
    margin-left: 70px;
    padding-right: 23px;

}

.blog__desc-title {
    color: #f2612d;
    font-family: 'Muli-ExtraBold';
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.02em;
}

.blog__desc-date {
    margin: 0px 0px 20px;
}

.blog span {
    font-family: 'Muli-ExtraBold';
    font-size: 18px;
    font-style: italic;
    position: relative;
}

.blog span::after {
    content: "";
    display: inline-block;
    background-image: url("../css/assets/images/photoshop-img/blog-arrow.png");
    position: absolute;
    width: 18px;
    height: 10px;
    top: 35%;
    right: -30px;
}

.blog__ingridients {
    max-width: 472px;
    padding-left: 45px;
    line-height: 35px;
    letter-spacing: 0.2px;
}


@media (max-width: 360px) {

    .blog__img {
        width: 100%;
    }

    .blog {
        padding: 100px 0 100px;
    }

    .blog__desc {
        padding-top: 70px;
    }
}

@media (max-width: 768px) {

    .blog {
        padding-bottom: 150px;
    }

    .blog__desc {
        padding-top: 40px;
        margin-left: 0px;
        padding-right: 0px;
    }

    .blog__img {
        width: 100%;
    }
}

/*Instagram*/

.insta__icon {
    padding-right: 12px;
}

.insta__wrapper {
    margin: 50px 0px 10px;
    display: flex;
    overflow-x: auto;
}

.insta__item {
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
    min-width: 340px;
    position: relative;
}

.insta__item::before {
    content: "";
    display: block;
    background-image: url("../css/assets/images/photoshop-img/Shadow.png");
    position: absolute;
    bottom: 0;
    right: 0;
    width: 13px;
    height: 13px;
}

.insta__item::after {
    content: "";
    display: block;
    background-image: url("../css/assets/images/photoshop-img/insticon.png");
    position: absolute;
    width: 26px;
    height: 26px;
    right: 22px;
    bottom: 20px;
}

.insta__link {
    font-family: 'Muli-ExtraBold';
    font-size: 24px;
    color: #0aa566;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    letter-spacing: -0.02em;
}

@media (max-width: 360px) {
    .insta__item {
        min-width: 260px;
    }
}

@media (max-width: 768px) {
    .insta__item {
        min-width: 375px;
    }
}

/*footer*/

.footer {
    margin-top: 10px;
}

.footer__title {
    font-family: 'MulI-ExtraBold';
    font-size: 26px;
    margin-bottom: 30px;
    line-height: 40px;
    letter-spacing: -0.02em;
}

.footer__top {
    padding: 60px 0 80px;
    background-color: #f6ab3b;
}

.footer__top-content {
    display: flex;
    flex-wrap: wrap;
}

.footer__logo {
    align-self: center;
}


/*information*/
.information {
    max-width: 159px;
    margin: 0 155px 0 295px;
}

.information__list-link {
    font-family: 'Muli-Bold';
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: -0.36px;
    color: #6d450c;
}

@media (max-width: 360px) {
    .information {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 50px;
    }

    .footer__top {
        padding: 65px 0px 55px;
    }
}

@media (max-width: 768px) {
    .information {
        margin: 0 73px 0 77px;
    }
}


/*payment*/
.payment {
    max-width: 270px;
    margin-right: 140px;
}

.payment__img {
    object-fit: cover;
    height: 100%;

}

.payment__container {
    max-width: 275px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 23px;
}

@media (max-width: 360px) {
    .payment {
        margin-right: 0;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .payment {
        margin-right: 0px;
        margin-left: 100px;
    }
}


/*subscribe*/
.subscribe {
    width: 495px;
}

.subscribe__input {
    border-radius: 30px;
    background-color: #ffffff;
    max-width: 495px;
    width: 100%;
    height: 60px;
    color: #6d450c;
    border-style: none;
    font-family: 'Muli-Bold';
    font-size: 17px;
    padding-left: 63px;
}

.subscribe__input:focus {
    outline: none;
}

.subscribe__input:active {
    box-shadow: inset 0px 0px 9px 0px rgb(1 1 1 / 1);
}

.subscribe__form {
    position: relative;
}

.subscribe__form::after {
    content: "";
    display: block;
    background-image: url("./assets/images/photoshop-img/inpute-letter-icon.png");
    width: 24px;
    height: 19px;
    position: absolute;
    top: 20px;
    left: 23px;
}

.sub-social__link {
    color: #6d450c;
    font-family: 'MulI-ExtraBold';
    text-transform: uppercase;
    font-weight: 800;
}

.sub-social-content {
    display: flex;
    width: 258px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sub-social-content::after {
    content: "";
    display: block;
    background-image: url("../css/assets/images/photoshop-img/Arrow.png");
    position: absolute;
    left: -25%;
    top: -15px;
    width: 48px;
    height: 43px;
}

.sub-social {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 20px;
}

.sub-social__list {
    padding: 0;
    display: flex;
    width: 110px;
    justify-content: space-between;

}

@media (max-width: 360px) {
    .sub-social {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .sub-social-content {
        width: 240px;
    }
}

/*footer__copyright*/
.footer__copyright {
    background-color: #6c2c1c;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright-text {
    font-family: 'Muli-Regular';
    color: #af8a82;
    font-size: 13px;
}

.footer__copyright-btn {
    right: 101px;
    width: 50px;
    height: 50px;
    border: 0;
    position: fixed;
    bottom: 45px;
    background-color: #f2662f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.footer__copyright-btn:hover {
    background-color: #b44113;
}

.footer__copyright-btn::before {
    content: "Go top";
    color: #fff;
    font-family: 'Muli-Bold';
    font-size: 16px;
    bottom: -20px;
    font-size: 16px;
    position: absolute;
    left: -65px;
}

.footer__copyright-btn::after {
    content: "";
    display: block;
    background-image: url('./assets/images/photoshop-img/go-top-icon.png');
    background-repeat: no-repeat;
    width: 13px;
    height: 25px;
}

@media (max-width: 360px) {
    .footer__logo {
        margin-bottom: 60px;
    }

    .footer__copyright-btn {
        right: 15px;
    }

    .footer__copyright-btn::before {
        display: none;
    }
}

@media (max-width: 768px) {
    .footer__copyright-btn {
        right: 15px;
    }

    .footer__top-content {
        align-items: center;
        justify-content: center;
    }

    .footer__logo {
        align-self: none;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .footer__title {
        margin-top: 50px;
    }


}