h1, h2, h3{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Muli-Regular';
    src: url(./assets/fonts/Muli-Regular.woff) format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Bold';
    src: url(./assets/fonts/Muli-Bold.ttf) format('truetype');

}

@font-face {
    font-family: 'Muli-BoldItalic';
    src: url(./assets/fonts/Muli-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Muli-Semi-BoldItalic';
    src: url(./assets/fonts/Muli-Semi-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Muli-Italic';
    src: url(./assets/fonts/Muli-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'MulI-ExtraBold';
    src: url(./assets/fonts/Muli-ExtraBold.woff) format('truetype');
}

/*common styles*/
ul {
    list-style: none;
    margin:0;
}

a:hover {
    text-decoration: none;
    color: #232923;;
}

.container {
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn {
    font-family: 'Muli-ExtraBold', sans-serif;
    color: #ffffff;
    display: flex;
    font-size: 21px;
    text-decoration: none;
    align-items:center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/*header*/
.header {
    height: 100vh;
    background-image: url('../css/assets/images/photoshop-img/main-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 88px 0 124px;
}

/*menu*/
.menu__list {
    display: flex;
    align-items:center;
    column-gap: 35px;
}

.menu__list:first-child {
    padding: 0;
}
.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'MuliBold', sans-serif;
    color: #fff;
}

/*logo*/


.header__logo {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}


/*right block*/
.header__right-block {
    display: flex;
    column-gap: 136px;
    align-items: center;
}

.header__personal {
    position: relative;
}

.header__personal::after {
    content: "";
    display: inline-block;
    height: 2px;
    width:50px;
    background-color: #ffd68f;
    position: absolute;
    top:50%;
    left: 140%;
}


/*personal*/
.personal__list {
    padding: 0;
    display: flex;
    align-items:center;
    gap: 45px;
}

.personal__list-item:last-child {
    margin-right: 0;
}

.personal__list:last-child{
    position: relative;
}

.personal__cart-count {
    background-color: #fff;
    position: absolute;
    top: -10px;
    right: -13px;
    display: flex;
    height: 18px;
    width: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 10px;
    color: black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*social*/
.social__list {
    display: flex;
    align-items:center;
    column-gap: 10px;
}

.social__link {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    max-height: 35px;
    background-color:#fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*header-content*/
.header-content {
    display: flex;
    justify-content: center;
}

/*btn*/
.header__btn {
    height: 70px;
    width: 280px;
    font-size: 24px;
    border-radius: 35px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.48px;
    padding: 0 38px;
    position: relative;
}

.btn--green-bg {
    background-color: #0aa566;
}

.btn--green-bg:hover{
    background-color:#14774f;
    color:white;
}

.btn--green-bg::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 16px;
    width:30px;
    background-image: url("../css/assets/images/photoshop-img/yellow-arrow\ btn.png");
    top:50%;
    right:38px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


/*titles*/

.title {
    font-family: 'Muli-ExtraBold';
    color:#f7ae3b;
    font-size: 50px;
}

.title--white {
    color: #ffffff;
}

.title--white:hover {
    color:#6c2c1c;
}



/*text*/
.text {
    font-family: 'Muli-Regular';
    
    
    line-height:50px;
    letter-spacing: -0.9px;
}

.text--black {
    color: #1e1e1e;
}

.text--white {
    color: #ffffff;
}

.text--orange{
    color: #f7ae3b;
}

/*what are smoothies*/

.smoothies {
    padding: 90px 0 135px;
}

.smoothies__inner{
    display: flex;
    flex-direction:column;
    align-items:center;
}

.smoothies__title {
    margin: 0 0 30px;
    text-align: center;
}

.smoothies__title {
    font-size:50px;
    letter-spacing: -1px;
}
.title--orange {
   color: #f7ae3b;
}
.smoothies__text {
    font-size: 18px;
    line-height: 1.94;
    max-width: 915px;
    margin: 0 0 60px;
    text-align: center;
}

.smoothies__features {
    display: flex;
    flex-wrap: wrap;
    max-width: 1110px;
}

/*при медиазапросе на 768 изменить на max-width 500px*/
.smoothies__feature {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 180px;
    margin: 0;
    flex-basis: 25%;
    border-bottom: 1px solid #f6edde;
    border-right: 1px solid #f6edde;
}

/*при медиазапросе basis 50% и переписать бордеры тогда*/

.smoothies__feature:nth-child(4) {border-right: 0;}
.smoothies__feature:nth-child(8) {border-right: 0;}
.smoothies__feature:nth-child(n+5) {border-bottom: 0;}

@media (max-width: 768px) {
    .smoothies__features {
    max-width: 500px;
    }
    .smoothies__feature {
        flex-basis: 50%;
    }
}

.feature__text--orange {
    font-family: 'Muli-ExtraBold';
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.5px;
    text-align: center;
    color: #f2612d;
    font-size:25px;
}

.feature__img {
    margin-bottom: 27px;
}

@media (max-width: 1024px) {
    .smoothies__title-content {
        font-size: 2.6em;
    }
}

/*about*/

.about {
    background-color: #14826f;
}

.about__wrapper{
    display: flex;
    flex-wrap: wrap;
}

.about__img {
    transform: translate(50px,55px);
    -webkit-transform: translate(50px,55px);
    -moz-transform: translate(50px,55px);
    -ms-transform: translate(50px,55px);
    -o-transform: translate(50px,55px);
}

.about__img-left {
    width: 100%;
    height: 100%;
}

.about__info {
    display: flex;
    flex-direction: column;
    margin: 95px 0px 10px 190px;
}

.about__title {
    line-height: 1.09;
    letter-spacing: -1.1px;
    font-size: 55px;
}

.about__title--green {
    color: #cae941;
    position: relative;
}

.about__title--green::after {
    content:"";
    position: absolute;
    background-image: url("./assets/images/photoshop-img/Line-img.png");
    top:60px;
    left:0px;
    width: 450px;
    height: 13px;
    display: inline-block;
    
}

.about__list {
    color: #fff;
    font-family: 'Muli-ExtraBold';
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-weight: normal;
    line-height: 22px;
    padding-left: 0;
    margin-top: 68px;
}

.about__list-item {
    list-style: none;
    background: url(./assets/images/photoshop-img/icon1.png) no-repeat 0 4px;
    padding-left: 30px;
    margin-bottom: 20px;
    font-size: 21px;
}

.about__list-item:last-child {
    margin: 0;
}

.about__btn {
    max-width: 380px;
    height: 60px;
    border: solid 2px #f8b231;
    font-size: 21px;
    position: relative;
    padding-left:29px;
    text-align:left;
    margin: 50px 0 94px;
}

.about__btn::after{
    content: "";
    display: inline-block;
    position: absolute;
    background-image:url("../css/assets/images/photoshop-img/about-Arrow.png");
    width: 30px;
    height: 16px;
    top:50%;
    right:29px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/*products*/

.products {
    overflow-y: auto;
}

.products__wrapper {
    display: flex;
}

.products__img {
    margin-top: 104px;
}

.products__card {
    flex: 1 0 300px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.products div:first-child {
    background-color: #632b17;
}
.products div:nth-child(2) {
    background-color: #178670;
}
.products div:nth-child(3) {
    background-color: #f7ae3b;
}
.products div:nth-child(4) {
    background-color: #c3471b; 
}

/*products__titles*/
.products__title {
    font-family: 'Muli-Bold';
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    margin-top:34px;
    font-size:22px;
}

.products__subtitle {
    color:#fff;
    font-family: 'Muli-Italic';
    font-size:21px;
    margin-top:10px;
}

/*products__btn*/
.products__btn {
    width: 204px;
    height: 60px;
    border: solid 2px #ffffff;
    margin:65px 0px 79px;
    padding-left:36px;
    position: relative;
}

.products__btn::after {
    content: "";
    display: inline-block;
    background-image:url("../css/assets/images/photoshop-img/products-arrow.png");
    position: absolute;
    width: 30px;
    height: 16px;
    right:16px;
}

/*our story*/

.story{
    padding: 120px 0px 160px;
}

.story__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.story__title {
    line-height: 40px;
}

.story__desc {
    margin-top: 43px;
    max-width: 510px;
}

.story__inner {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-right: 206px;
}

.story__btn {
    max-width: 301px;
    height: 60px;
    margin-top: 60px;
    padding-left: 30px;
    position: relative;
}

.btn--green::after {
    content: "";
    display: inline-block;
    background-image:url("../css/assets/images/photoshop-img/about-Arrow.png");
    position: absolute;
    width: 30px;
    height: 16px;
    right:40px;
}

.story__image {
    position: relative;
}

.story__image::after {
    content: "";
    display: block;
    position:absolute;
    background-image: url("./assets/images/photoshop-img/story-stamp.png");
    width: 290px;
    height: 216px;
    top:0px;
    left:-170px;
}

.story__pic {
    width: 100%;
    height: 100%;
}

/*testimonials*/

.testimonials {
    background-color: #672f1b;
    padding: 106px 0 70px;
    position: relative;
}

.testimonials::after {
    content: "";
    display: block;
    position:absolute;
    background-image: url("./assets/images/photoshop-img/dots-img.png");
    width: 410px;
    height: 301px;
    top:-95px;
    right: 58px;
}

.testimonials__content {
    display: flex;
    flex-direction:column;
    align-items:center;
}

.testimonial__title {
    margin:0px 0 120px;
}

.testimonials span {
    color: #f2612d;
    text-decoration: uppercase;
}

.testimonials__comment {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 120px;
    z-index: 1;
}

.testimonials__comment::before {
    content:"Sarah A";
    opacity: 0.6;
    font-family: "Muli-ExtraBold";
    font-size: 200px;
    color: rgba(82, 25, 5, 0.6);
    position: absolute;
    top: 185px;
    left: 404px;
    z-index: -1;
}

.comment__text {
    max-width: 455px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 52px 59px 0 0;
}

.comment__quote {
    line-height: 35px;
}

.comment__cite {
    font-family: 'Muli-Semi-BoldItalic';
    line-height: 45px;
}

.comment__avatar {
    /* height: 100%;
    width: 100%; */
    object-fit: cover;
}

.testimonials__arrows {
    width: 160px;
    display: flex;
    justify-content: space-between;
}


/*blog*/

.blog {
    padding: 100px 0;
}

.blog__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog__inner-img {
    position: relative;
    z-index: 3;
}

.blog__inner-img::after {
    content: "";
    width: 687px;
    height: 12px;
    background-image: url("./assets/images/photoshop-img/blog-Line.png");
    position:absolute;
    top: 70px;
    left: 507px;
    z-index: -2;
}
.blog__title {
    margin-bottom: 50px;
}

.blog__desc{
    display: flex;
    flex-direction: column;
    padding-top: 235px ;
    margin-left: 60px;

}

.blog__desc-title {
    color:#f2612d;
    font-family: 'Muli-ExtraBold';
    font-size: 30px;
}

.blog__desc-date {
    margin: 20px 0px 45px;
}

.blog span {
    font-family: 'Muli-ExtraBold';
    font-size: 18px;
    font-style: italic;
    position: relative;
}

.blog span::after {
    content: "";
    display: inline-block;
    background-image: url("../css/assets/images/photoshop-img/blog-arrow.png");
    position: absolute;
    width: 18px;
    height: 10px;
    top:35%;
    right:-30px;
}

.blog__ingridients {
    max-width: 472px;
    padding-left:63px;
}

/*Instagram*/

.insta__icon {
    padding-right:12px;
}

.insta__wrapper{
    margin:45px 0px 10px;
    display:flex;
    overflow-x: scroll;
}

.insta__item {
    display:flex;
    flex-direction:column;
    flex: 1 0 20%;
    min-width: 340px;
    position: relative;
}

.insta__item::before {
    content:"";
    display: block;
    background-image:url("../css/assets/images/photoshop-img/Shadow.png");
    position: absolute;
    bottom: 0;
    right:0;
    width: 13px;
    height: 13px;
}

.insta__item::after {
    content:"";
    display: block;
    background-image:url("../css/assets/images/photoshop-img/insticon.png");
    position: absolute;
    width: 26px;
    height: 26px;
    right:22px;
    bottom: 20px;
}

.insta__link {
    font-family: 'Muli-ExtraBold';
    font-size: 24px;
    line-height: 1.67;
    letter-spacing: -0.48px;
    color: #0aa566;
    display:flex;
    justify-content:center;
    align-items:center;
}

/*footer*/

.footer {
    margin-top: 10px;
    
}

.footer__title {
    font-family: 'MulI-ExtraBold';
    font-size: 26px;
    font-weight: 800;
    line-height: 1.54;
    letter-spacing: -0.52px;
    margin-bottom: 35px;
}

.footer__top {
    padding: 80px 0;
    background-color: #f6ab3b;
}

.footer__top-content {
    display: flex;
}
.footer__logo {
    align-self: center;
}


/*information*/
.information {
    max-width: 159px;
    margin: 0 155px 0 295px ;
}

.information__list-link {
    font-family: 'Muli-Bold';
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: -0.36px;
    color: #6d450c;
}

/*payment*/
.payment {
    max-width:270px ;
    margin-right: 165px;;
}

.payment__img {
    object-fit: cover;
    height: 100%;

}

.payment__container {
    max-width: 275px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    gap:23px;
}

/*subscribe*/
.subscribe {
    width: 495px;
}

.subscribe__input {                    
    border-radius: 30px;
    background-color: #ffffff;
    max-width: 495px;
    width: 100%;
    height: 60px;
    color: #6d450c;
    border-style:none;
    font-family: 'Muli-Bold';
    font-size: 17px;
    padding-left:63px;
}

.subscribe__input:focus{
    outline: none;
}

.subscribe__input:active{
    box-shadow: inset 0px 0px 9px 0px rgb(1 1 1 / 1);
}
.subscribe__form {
    position: relative;
}

.subscribe__form::after {
    content:"";
    display: block;
    background-image: url("./assets/images/photoshop-img/inpute-letter-icon.png");
    width: 24px;
    height: 19px;
    position: absolute;
    top:20px;
    left:23px;
}

.sub-social__link {
    color: #6d450c;
    font-family: 'MulI-ExtraBold';
    text-transform: uppercase;
    font-weight: 800;
}

.sub-social-content {
    display: flex;
    width: 258px;
    justify-content: space-between;
    align-items:center;
    position: relative;
}

.sub-social-content::after {
    content:"";
    display: block;
    background-image:url("../css/assets/images/photoshop-img/Arrow.png");
    position: absolute;
    left:-30%;
    top: -19px;
    width: 48px;
    height: 43px;
    }

.sub-social{
    display: flex;
    justify-content: flex-end;
    margin-right: 52px;
    margin-top:27px;
}

.sub-social__list {
    padding: 0;
    display:flex;
    width:110px ;
    justify-content: space-between;
    
}

/*footer__copyright*/
.footer__copyright{
    background-color: #6c2c1c;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright-text {
    font-family: 'Muli-Regular';
    color:#af8a82;
    font-size:13px;
}

.footer__copyright-btn {
    right: 101px;
    width: 50px;
    height: 50px;
    border:0;
    position: fixed;
    bottom:45px;
    background-color: #f2662f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.footer__copyright-btn::before {
    content: "Go top";
    color:#fff;
    font-family: 'Muli-Bold';
    font-size: 16px;
    bottom: -15px;
    font-size: 16px;
    position: absolute;
    left: -60px;
}

.footer__copyright-btn::after {
    content: "";
    display: block;
    background-image: url('./assets/images/photoshop-img/go-top-icon.png');
    background-repeat:no-repeat;
    width: 13px;
    height: 25px;
}