.insta {

    &__icon {
        padding-right: 12px;
    }

    &__wrapper {
        margin: 50px 0px 10px;
        display: flex;
        overflow-x: auto;
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex: 1 0 20%;
        min-width: 340px;
        position: relative;

        @media screen and (max-width: 360px) {
            min-width: 260px;
        }

        @media screen and (max-width: 768px) {
            min-width: 375px;
        }
    }

    &__item {
        &::before {
            @include pseudo (block, absolute);
            background-image: url("./../images/photoshop-img/Shadow.png");
            bottom: 0;
            right: 0;
            width: 13px;
            height: 13px;
        }

        &::after {
            @include pseudo (block, absolute);
            background-image: url("./../images/photoshop-img/insticon.png");
            width: 26px;
            height: 26px;
            right: 22px;
            bottom: 20px;
        }

        &:hover {
            animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

        @keyframes shadow-drop-center {
            0% {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }

            100% {
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.60);
            }
        }
    }

    &__link {
        font-family: $titleFont;
        font-size: 24px;
        color: #0aa566;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 40px;
        letter-spacing: -0.02em;
    }
}