.products {
    $products: &;
    overflow-y: auto;

    &__wrapper {
        display: flex;

        #{$products}__card {
            flex: 1 0 300px;
            @include flex (flex, column, center);

            &:first-child {
                background-color: #632b17;
            }

            &:nth-child(2) {
                background-color: #178670;
            }

            &:nth-child(3) {
                background-color: #f7ae3b;
            }

            &:nth-child(4) {
                background-color: #c3471b;
            }

            #{$products}__img {
                margin-top: 125px;
            }

            #{$products}__title {
                font-family: 'Muli-Bold';
                margin-top: 33px;
                line-height: 22px;
                font-size: 25px;
            }

            #{$products}__subtitle {
                color: #fff;
                font-family: 'Muli-Italic';
                font-size: 21px;
                margin-top: 10px;
            }

            #{$products}__btn {
                width: 204px;
                height: 60px;
                border: solid 2px #ffffff;
                margin: 65px 0px 79px;
                padding-left: 36px;
                position: relative;

                &::after {
                    content: "";
                    display: inline-block;
                    background-image: url("./../images/photoshop-img/products-arrow.png");
                    position: absolute;
                    width: 30px;
                    height: 16px;
                    right: 33px;
                }
            }

        }
    }
}