.smoothies {
    padding: 90px 0 135px;

    &__inner {
        @include flex (flex, column, center);
        
    }

    &__title {
        margin: 0 0 30px;
        text-align: center;
        font-size: 50px;
        letter-spacing: -1px;
        @extend %title;
    }

    &__text {
        @extend %text;
        max-width: 915px;
        margin: 0 0 60px;
        text-align: center;
        letter-spacing: -0.1px;
    }

    &__features {
        display: flex;
        flex-wrap: wrap;
        max-width: 1110px;
    }

    &__feature {
        @include flex (flex, column, center);
        justify-content: center;
        height: 180px;
        margin: 0;
        flex-basis: 25%;
        border: {
            bottom: 1px solid #f6edde;
            right: 1px solid #f6edde;
        }

        &:nth-child(4) {
            border-right: 0;
        }

        &:nth-child(8) {
            border-right: 0;
        }

        &:nth-child(n+5) {
            border-bottom: 0;
        }
    }
}