.testimonials {
    $testimonials: &;
    background-color: #672f1b;
    padding: 105px 0 70px;
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        background-image: url("./../images/photoshop-img/dots-img.png");
        width: 410px;
        height: 301px;
        top: -85px;
        right: 58px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;


        #{$testimonials}__title {
            margin: 0px 0 120px;

            #{$testimonials} span {
                color: #f2612d;
                text-decoration: uppercase;
            }
        }

        #{$testimonials}__comment {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 120px;
            z-index: 1;

            &::before {
                content: "Sarah A";
                opacity: 0.6;
                font-family: $titleFont;
                font-size: 200px;
                color: rgba(82, 25, 5, 0.6);
                position: absolute;
                transform: translate(-19%, -23%);
                z-index: -1;
                -webkit-transform: translate(-19%, -23%);
                -moz-transform: translate(-19%, -23%);
                -ms-transform: translate(-19%, -23%);
                -o-transform: translate(-19%, -23%);
            }
        }

        #{$testimonials}__arrows {
            width: 160px;
            display: flex;
            justify-content: space-between;
        }
    }
}