.footer {
    margin-top: 10px;
    $footer: &;

    &__top {
        padding: 60px 0 80px;
        background-color: $primary;
        @media screen and (max-width: 360px) {
            padding: 65px 0px 55px;
        }

        #{$footer}__top-content {
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: 1758px) {
                align-items: center;
                justify-content: center;
            }

            #{$footer}__logo {
                align-self: center;
                @media screen and  (max-width: 360px) {
                    margin-bottom: 60px;
                }
                @media screen and (max-width: 1758px) {
                    align-self: none;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 50px;
                }
            }

            #{$footer}__information {
                max-width: 159px;
                margin: 0 155px 0 295px;
                @media screen and (max-width: 360px) {
                    margin: {
                        right: 0;
                        left:0;
                        bottom: 50px;
                    }
                }
                @media screen and  (max-width: 768px) {
                    margin: {
                        top: 0;
                        right: 75px;
                        bottom:0;
                        left: 75px;
                    } 
                }

                @media screen and (max-width: 1051px) {
                    margin: 0 235px 0 200px;
                }

                @media screen and  (max-width: 1544px) {
                    padding-bottom:50px;
                }

                #{$footer}__title {
                    font-family: $titleFont;
                    font-size: 26px;
                    margin-bottom: 30px;
                    line-height: 40px;
                    letter-spacing: -0.02em;
                    @media screen and (max-width: 1758px) {
                        margin-top: 50px;
                    }
                }

                #{$footer}__information-link {
                    font-family: 'Muli-Bold';
                    font-size: 18px;
                    line-height: 1.94;
                    letter-spacing: -0.36px;
                    color: #6d450c;
                }
            }


            #{$footer}__payment {
                max-width: 270px;
                margin-right: 140px;
                @media screen and (max-width: 360px) {
                    margin: {
                        right: 0;
                        bottom: 50px;
                    }
                }
                @media screen and  (max-width: 768px) {
                    margin: {
                        right: 0;
                        bottom: 100px;
                    }
                }

                #{$footer}__title {
                    font-family: $titleFont;
                    font-size: 26px;
                    margin-bottom: 30px;
                    line-height: 40px;
                    letter-spacing: -0.02em;
                }

                #{$footer}__payment-container {
                    max-width: 275px;
                    @include flex (flex, center);
                    flex-wrap: wrap;
                    gap: 23px;

                    #{$footer}__payment-img {
                        object-fit: cover;
                        height: 100%;
                    }
                }
            }

            #{$footer}__subscribe {
                width: 495px;

                #{$footer}__title {
                    font-family: $titleFont;
                    font-size: 26px;
                    margin-bottom: 30px;
                    line-height: 40px;
                    letter-spacing: -0.02em;
                }

                #{$footer}__subscribe-form {
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        background-image: url("./../images/photoshop-img/inpute-letter-icon.png");
                        width: 24px;
                        height: 19px;
                        position: absolute;
                        top: 20px;
                        left: 23px;
                    }

                    #{$footer}__subscribe-input {
                        border-radius: 30px;
                        background-color: #ffffff;
                        max-width: 495px;
                        width: 100%;
                        height: 60px;
                        color: #6d450c;
                        border-style: none;
                        font-family: 'Muli-Bold';
                        font-size: 17px;
                        padding-left: 63px;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    #{$footer}__copyright {
        background-color: #6c2c1c;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        #{$footer}__copyright-text {
            font-family: 'Muli-Regular';
            color: #af8a82;
            font-size: 13px;
        }
    }
        #{$footer}__copyright-btn {
        right: 101px;
        width: 50px;
        height: 50px;
        border:0;
        border-radius:5px;
        position: fixed;
        bottom:45px;
        background-color: #f2662f;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99999;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        -ms-border-radius:5px;
        -o-border-radius:5px;
        @media screen and  (max-width: 360px) {
            right: 15px;
        }
        @media screen and (max-width: 1758px) {
            right: 15px;
        }

        &:hover {
            background-color: #b44113;
        }

        &::before {
            @include pseudo (inline-block,absolute,"Go top");
            color: $textColor;
            font-family: 'Muli-Bold';
            font-size: 16px;
            bottom: -20px;
            font-size: 16px;
            left: -65px;
            @media screen and  (max-width: 360px) {
                display: none;
            }
        }

        &::after {
            @include pseudo (block,absolute,"");
            background-image: url('./../images/photoshop-img/go-top-icon.png');
            background-repeat: no-repeat;
            width: 13px;
            height: 25px;
        }
    }
}