.header {
    height: 100vh;
    background-image: url('../images/photoshop-img/main-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header__top {
    padding: 88px 0 124px;
    position: relative;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger--btn {
    background-image: url('./../images/header__images/sort-button-with-three-lines.svg');
    background-size: cover;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 30px;
    right: 30px;
    display: none;
    z-index: 1000000;
}

.header__logo {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}


/*right block*/
.header__right-block {
    display: flex;
    column-gap: 136px;
    align-items: center;
}

.header__personal {
    position: relative;
}

.header__personal::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 50px;
    background-color: #ffd68f;
    position: absolute;
    top: 50%;
    left: 130%;
}

.header-content {
    display: flex;
    justify-content: center;
}

.header__burger {
    display: none;
}

/*btn*/
.header__btn {
    height: 70px;
    width: 280px;
    font-size: 24px;
    border-radius: 35px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.48px;
    padding: 0 38px;
    position: relative;
}
