.text {
    font-family: 'Muli-Regular';
    line-height: 35px;
}

.text--black {
    color: #1e1e1e;
}

.text--white {
    color: #ffffff;
}

.text--white:hover {
    color: #6c2c1c;
}

.text--orange {
    color: #f7ae3b;
}