.blog {
    $blog: &;
    padding: 100px 0 180px;
    @media screen and (max-width: 360px) {
        padding: 100px 0 100px;
    }
    @media screen and (max-width: 768px) {
        padding-bottom: 150px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        #{$blog}__title {
            margin-bottom: 50px;
            @extend %title;
        }

        #{$blog}__inner-img {
            position: relative;

            &::after {
                @include pseudo (inline-block,absolute);
                width: 687px;
                height: 12px;
                background-image: url("./../images/photoshop-img/blog-Line.png");
                top: 70px;
                left: 507px;
                z-index: -2;
                @media screen and (max-width: 1235px) {
                    display: none;
                }
            }

            #{$blog}__img {
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }
        }

        #{$blog}__desc {
            @include flex (flex, column);
            padding-top: 230px;
            margin-left: 70px;
            padding-right: 23px;
            @media screen and (max-width: 360px) {
                padding-top: 70px;
            }
            @media screen and (max-width: 768px) {
                padding: {
                    top: 40px;
                    right: 0px;
                }
                margin-left: 0px;
            }

            #{$blog}__desc-title {
                color: #f2612d;
                font-family: $titleFont;
                font-size: 30px;
                line-height: 40px;
                letter-spacing: -0.02em;
            }

            #{$blog}__desc-date {
                padding-top: 20px;
                font-size: 16px;
                font-family: 'Muli-Regular';
            }

            #{$blog}__ingridients {
                max-width: 472px;
                padding-left: 45px;
                margin-top: 45px;
                line-height: 35px;
                letter-spacing: -0.8px;;

                #{$blog}__text {
                    @extend %text;
                }

                #{$blog}__span {
                    font-family: $titleFont;
                    font-size: 18px;
                    font-style: italic;
                    position: relative;
    
                    &::after {
                        @include pseudo (inline-block,absolute);
                        background-image: url("./../images/photoshop-img/blog-arrow.png");
                        width: 18px;
                        height: 10px;
                        top: 35%;
                        right: -30px;
                    }
                }
            }
        }
    }
}