@import "./abstracts/vars";
@import "./abstracts/normalize";
@import "./abstracts/fonts";
@import "./layout/header";
@import "./components/menu";
@import "./components/personal";
@import "./components/social";
@import "./components/_buttons";
@import "./components/feature";
@import "./components/comment";
@import "./common/container";
@import "./common/text";
@import "./common/title";
@import "./blocks/smoothies";
@import "./blocks/about";
@import "./blocks/products";
@import "./blocks/story";
@import "./blocks/testimonials";
@import "./blocks/blog";
@import "./blocks/instagram";
@import "./components/sub-social";
@import "./layout/_footer";

@import "./abstracts/media";

// h1,
// h2,
// h3 {
//     margin: 0;
//     padding: 0;
// }

// *,
// *::before,
// *::after {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }

img {
object-fit: cover;
    }

a:hover {
    text-decoration: none;
    color: #232923;
}

button {
    border: none;
    background-color: transparent;
}

