.comment {

    &__text {
        max-width: 455px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 40px 60px 0 0;
        @media screen and (max-width: 768px) {
            margin-top: 60px;
            margin-right: 0;
        }
    }
    
    &__quote {
        line-height: 35px;
        color: $textColor;
        @extend %text;
        @media screen and (max-width: 360px) {
            letter-spacing: 0.4px;
        }
    }
    
    &__cite {
        font-family: 'Muli-Semi-BoldItalic';
        line-height: 45px;
    }
    
    &__avatar {
        object-fit: cover;
    }
}
