.feature {

    &__img {
        margin-bottom: 27px;
    }

    &__text-orange {
        font-family: 'Muli-ExtraBold';
        font-weight: 800;
        line-height: 1.6;
        letter-spacing: -0.5px;
        text-align: center;
        color: $featureColor;
        font-size: 25px;
    }
}