.feature {

    &__img {
        margin-bottom: 27px;
    }

    &__text-orange {
        font-family: 'Muli-ExtraBold';
        font-weight: 800;
        line-height: 1.6;
        letter-spacing: -0.5px;
        text-align: center;
        color: $featureColor;
        font-size: 25px;
        &:hover {
            transform: scale(1.5);
            transition: 1s;
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
}
    }
}