.menu {
    &__list {
        display: flex;
        align-items: center;
        column-gap: 35px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        &:first-child {
            padding: 0;
        }
    }

    &__item {
        &:hover {
            transform: translateY(-5px);
            transition: 1s;
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -o-transform: translateY(-5px);
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1em;
        font-family: 'MuliBold', sans-serif;
        color: $textColor;
        
    }
}