

@media screen and (max-width: 768px) {

    .active {
        position: fixed;
        background-color: #0aa566;
        z-index: 10000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 100px;
        justify-content: flex-end;
        align-items: center;
    }

}

/*smoothies*/

@media screen and (max-width: 768px) {

    .smoothies__feature:nth-child(even) {
        border-right: 0;
    }

    .smoothies__feature:nth-child(n+5) {
        border-bottom: 1px solid #f6edde;
    }

    .smoothies__feature:nth-last-child(2) {
        border-bottom: 0;
    }

    .smoothies__feature:last-child {
        border-bottom: 0;
    }

}

