@mixin push--auto {
    margin: 0 auto;
}

@mixin hov1 {
    &:hover {
        color: #f0c8bf;
    }
}

@mixin flex ($flex, $direction: row, $align: flex-start) {
    display: $flex;
    flex-direction: $direction;
    align-items: $align;
}

@mixin pseudo ($display: block, $pos: absolute, $content: '') {
    display: $display;
    position: $pos;
    content: $content;
}
