.header {
    $header: &;
    height: 100vh;
    background-image: url('../images/photoshop-img/main-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @media screen and (max-width: 360px) {
        background-attachment: none;
    }


    #{$header}__top {
        padding: 88px 0 124px;
        position: relative;

        #{$header}__burger--btn {
            background-image: url('./../images/header__images/sort-button-with-three-lines.svg');
            background-size: cover;
            height: 30px;
            width: 30px;
            position: fixed;
            top: 30px;
            right: 30px;
            display: none;
            z-index: 1000000;
            @media screen and (max-width: 768px) {
                display: block;
            }
        }

        #{$header}__navigation {
            display:flex;
            align-items:center;
            justify-content: space-between;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        #{$header}__right-block {
            display:flex;
            align-items:center;
            column-gap: 135px;
            @media screen and (max-width: 768px) {
                margin-bottom: 130px;
            }
            #{$header}__personal {
                position: relative;
                &::after {
                    @include pseudo (inline-block,absolute);
                    height: 2px;
                    width: 50px;
                    background-color: #ffd68f;
                    top: 50%;
                    left: 130%;
                }

            }
        }

        #{$header}__logo {
            position: absolute;
            top: 70px;
            left: 50%;
            transform: translate(-50%);
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -ms-transform: translate(-50%);
            -o-transform: translate(-50%);
        }
    }

    #{$header}__burger {
        display: none;

        #{$header}__right-block {
            @include flex (flex, center);
            column-gap: 135px;
            
            #{$header}__personal {
                position: relative;

                &::after {
                    @include pseudo (inline-block, absolute);
                    height: 2px;
                    width: 50px;
                    background-color: #ffd68f;
                    top: 50%;
                    left: 130%;
                }
            }
        }
    }

    #{$header}-content {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 360px) {
            margin-top: 80px;
        }

        #{$header}__btn {
            border-radius: $borderRadius;
            font-family: $titleFont, sans-serif;
            color: $textColor;
            display: flex;
            align-items: center;
            height: 70px;
            width: 280px;
            font-size: 24px;
            line-height: 1.67;
            letter-spacing: -0.48px;
            padding: 0 38px;
            position: relative;
            -webkit-border-radius: $borderRadius;
            -moz-border-radius: $borderRadius;
            -ms-border-radius: $borderRadius;
            -o-border-radius: $borderRadius;
}
    }
}